<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <h1>Welcome back <%= user.username %></h1>
    
    <form action="/createproduct" method="post">
        <input type="text" placeholder="name of product" name="productname">
        <input type="text" placeholder="Price" name="productprice">
        <input type="text" placeholder="Quantity" name="productquantity">
        <button>Create</button>
    </form>
    
</body>
</html>