<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css">
    <link rel="stylesheet" href="../stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
 <div id="main">
    <div id="hero-section">
        <nav>
            <div class="nav-container">
                <div class="nav-logo">
                    <h1>Exclusive</h1>
                </div>
                <div class="nav-mid">
                    <a href="/feed">Home</a>
                    <a href="">Contact</a>
                    <a href="">About</a>
                    <a href="">Signup</a>

                </div>
                <div class="nav-right">
                    <div class="search-container">
                        <form>
                            <input type="search" name="search" placeholder="Search for any product">
                            <button><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                    <div class="wish-cart">
                        <a href=""><i class="ri-heart-line"></i></a>
                        <a href=""><i class="ri-shopping-cart-2-line"></i></a>

                    </div>
                </div>

            </div>
        </nav>
        <div class="hero-banner">
            <div class="hero-left">
                 <div class="hero-left-links">
                    <a href="">Women's Fashion</a>
                    <a href="">Men’s Fashion</a>
                    <a href="">Electronics</a>
                    <a href="">Home & Lifestyle</a>
                    <a href="">Medicine</a>
                    <a href="">Sports & Outdoor</a>
                    <a href="">Baby’s & Toys</a>
                    <a href="">Groceries & Pets</a>
                    <a href="">Health & Beauty</a>


                 </div>   
            </div>
            <div class="hero-right">

            </div>

        </div>
        <div id="todays">
            <div class="today-navbar">
                <div class="today-heading">
                    <h3>Today's</h3>
                </div>
                <div class="flash-sale">
                    <div class="left-flash-sale">
                        <h2>Flash Sales</h2>
                        <div class="time">
                            <div class="days timebox">
                                <small>Days</small>
                                <h2>03</h2>
                            </div>
                            <div class="hours timebox">
                                <small>Days</small>
                                <h2>03</h2>
                            </div>
                            <div class="minutes timebox">
                                <small>Days</small>
                                <h2>03</h2>
                            </div>
                            <div class="seconds timebox">
                                <small>Days</small>
                                <h2>03</h2>
                            </div>

                        </div>
                    </div>
                    <div class="right-flash-sale">
                        <div class="arrows">
                            <i class="ri-arrow-left-circle-line"></i>
                            <i class="ri-arrow-right-circle-line"></i>
                        </div>
                       
                    </div>

                </div>
            </div>
            <div class="cards-holder">
                <div class="card">
                    <div class="img-container">
                        <div class="img-overlay">
                            <div class="overlay-btn">
                                <div class="discount">
                                    <small>-40%</small>
                                </div>
                                <div>

                                    <div class="btns">
                                       <a href="">
                                        <i class="ri-heart-line"></i>
                                       </a> 
                                      
                                        
                                    </div>
                                    <div class="btns">
                                        <a href="">
                                            
                                            <i class="ri-eye-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-btn">
                                <button>Add To Cart</button>
                            </div>
                        </div>
                        <img src="/images/g92-2-500x500 1.png" alt="">
                    </div>
                    <div class="card-details">
                        <h3>GamePAd</h3>
                        <div class="pricing">
                            <span class="price">$120</span>
                            <span class="crossed-price">$160</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</div>





<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/feed.js"></script>
</body>
</html>